.container{
    width: 1170px;
    margin: 0 auto;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: red;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
}
h4{
    color: green;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}
p{
    background-color: aquamarine;
    text-align: center;
    height: 100px;
    padding: 20px 0px;
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: circle;
}
h2{
    text-decoration: underline;
    text-decoration-color: brown;
}
